@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-color: #3A3A3A;
  width: 100%;
}

* {
  /* border: red solid 1px; */
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
  padding: 0;
}