/* styles.css */
.text-with-line {
  display: inline-block;
  position: relative;
}

.text-with-line::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px; /* Толщина линии */
  background-color: white; /* Цвет линии */
  position: absolute;
  bottom: -4px; /* Отступ от текста */
  left: 0;
}
